.orders
{
	height: 368px;
	background-color: WHITE;
	overflow-y: hidden;
	border-radius: 4px 4px 0px 0px;
	font-size: 14px;
	position: relative;
}

.orders a
{
	text-decoration: none;
}

.orders.showMore
{
	height: 550px;
}

.ordersTopDeco
{
	background-color: #00C0EF;
}

.transaction-overview table
{
	table-layout: auto;
	width: 100%
}

.transaction-overview th, .transaction-overview tr, .transaction-overview th
{
	padding-bottom: 10px;
}

.transaction-overview th, .transaction-overview td 
{
    border-bottom: 1px solid #ddd;
	text-align: left;
}

.widgetOrderDialog
{
	background: #CCCCCC;
	border: #666666;
}

.widgetOrderDialog .ui-widget-header
{
	background: #666666;
	border: #666666;
}
.widgetOrderDialog .ui-widget-header .ui-button-text
{
	display: none;
}
.widgetOrderDialog .ui-dialog-content
{
	background-color: #FFFFFF;
}

.ordersPremiumNotification
{
	text-align: center;
    margin-top: 90px;
}

.ordersButtonBar
{
	border-top: 1px solid #DDDDDD;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	width: 100%;
	background-color: #FFFFFF;
	position: absolute;
    top: 318px;
}
.orders.showMore .ordersButtonBar
{
	top: 500px;
}

.PlaceNewOrderWidget1Button
{
	cursor: pointer;
	width: 80px;
	height: 30px;
	font-size: 12px;
	background-color: #00C0EF;
	border: solid #00acd6 1px;
	color: white;
	margin: 10px 0px 10px 0px;
}
.ShowMoreTransactionsWidget1Button
{
	cursor: pointer;
	color: #686868;
	width: 80px;
	height: 30px;
	font-size: 12px;
	background-color: #EDEDED;
	border: solid #CCCCCC 1px;
	float: right;
	clear: none;
	margin: 10px 0px 10px 0px;
}

.allContentMinimized .orders
{
	height: auto;
}

.orders.minimized
{
	height: auto;
}