.orders-pr
{
	height: 368px;
	background-color: WHITE;
	overflow-y: hidden;
	border-radius: 4px 4px 0px 0px;
	font-size: 14px;
	position: relative;
}

.orders-pr a
{
	text-decoration: none;
}
.orders-pr.showMore
{
	height: 544px;
	overflow-y: hidden;
}
.orders-pr.showMore .transaction-overview
{
	height: 440px;
	overflow-y: scroll;
}

.orders-pr-TopDeco
{
	background-color: #00C0EF;
}

.transaction-overview table
{
	table-layout: auto;
	width: 100%
}

.transaction-overview th, .transaction-overview tr, .transaction-overview th
{
	padding-bottom: 10px;
}

.transaction-overview th, .transaction-overview td 
{
    border-bottom: 1px solid #ddd;
	text-align: left;
}

.orders-pr .transaction-overview::-webkit-scrollbar {
    width: 0px;	
}

.widgetOrderDialog
{
	background: #CCCCCC;
	border: #666666;
}

.widgetOrderDialog .ui-widget-header
{
	background: #666666;
	border: #666666;
}
.widgetOrderDialog .ui-widget-header .ui-button-text
{
	display: none;
}
.widgetOrderDialog .ui-dialog-content
{
	background-color: #FFFFFF;
}

.ordersPrButtonBar
{
	border-top: 1px solid #DDDDDD;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	width: 100%;
	background-color: #FFFFFF;
	position: absolute;
    top: 318px;
}
.orders-pr.showMore .ordersPrButtonBar
{
	top: 496px;
}

.PlaceNewOrderOrdersPrButton
{
	cursor: pointer;
	width: 80px;
	height: 30px;
	font-size: 12px;
	background-color: #00C0EF;
	border: solid #00acd6 1px;
	color: white;
	margin: 10px 0px 10px 0px;
}
.ShowMoreTransactionsOrdersPrButton
{
	cursor: pointer;
	color: #686868;
	width: 80px;
	height: 30px;
	font-size: 12px;
	background-color: #EDEDED;
	border: solid #CCCCCC 1px;
	float: right;
	clear: none;
	margin: 10px 0px 10px 0px;
}

.allContentMinimized .orders-pr
{
	height: auto;
}

.orders-pr.minimized
{
	height: auto;
}

.ui-sortable-handle .orders-pr
{
	height: auto;
}