#currencyconverter{
	height: 100%;
	background-color: WHITE;
	border-radius: 4px 4px 0px 0px;
}

.currencyconverterTopDeco
{
	background-color: #00A65A;
	border-radius: 0px;
}

.currencyconverterTopInfo
{
	height: 32px;
	line-height: 32px;
}

.currencyConvFromContainer
{
	margin-top: 10px;
}

.currencyConvFromToText
{
	float: left;
	clear: none;
	width: 50px;
	margin-left: 10px;
}

.currencyConvField
{
	width: calc((100% - 78px) / 2);
}

.currencyConvConvBtn
{
	width: 80px;
    height: 30px;
    font-size: 12px;
    background-color: #00C0EF;
    border: solid #00acd6 1px;
    color: white;
    float: right;
    clear: none;
    margin-right: 10px;
    margin-top: 12px;
	margin-bottom: 5px;
}

/* For Mobile */
@media only screen and (max-width: 600px)
{
	
}
