#topWidget1{
	background-color: WHITE;
	border-radius: 4px 4px 0px 0px;
}

.topwidget1TopDeco
{
	background-color: #00A65A;
	border-radius: 0px;
}

.topwidget1TopInfo
{
	height: 32px;
	line-height: 32px;
}