
body
{
	margin: 0px;
	padding: 0px;
	
    font-family: 'OpenSansRegular';
	color: #686868;
}

.body 
{
	top: 50px;
    position: relative;
	padding: 0px 0px 60px 0px;
}

.displayNone
{
	display: none !important;
}