/* Dashboard */
.content .top-wrapper
{
	height: 50%;
	width: 100%;
	
}

.content .top-wrapper .news
{
	height:	90%;
	width:	50%;
	float:	left;
	clear:	none;
	overflow:	auto;
	
}

.content .top-wrapper .updates
{
	height: 90%;
	width: 50%;
	float: left;
	clear: none;
	
}


.content .bottom-wrapper
{
	height: 50%;
	width: 100%
	
}

.content .bottom-wrapper .extensions
{
	height: 90%;
	width: 50%;
	float: left;
	clear: none;
	
}

.content .bottom-wrapper .status
{
	height: 90%;
	width: 50%;
	float: left;
	clear: none;
	
}

/* Niews */
.news-wrapper
{
	background-color:	#d6d6d6;
	margin:	2px;
}

.news-title
{
	text-align:	center;
	font-weight:	bold;
	margin:	2px;
}

.news-description
{
	margin:	4px;
}

.news-timestamp
{
	font-weight:	bold;
	margin: 4px;
}