header,main,footer,div /* CODE ROLAND evt, OVERLEG */
{
	box-sizing: border-box; /* let erop dat de breedte hoogte inclusief padding en border is */
}

header
{
	z-index: 1;
	position: fixed;
    width: 100%;
	display: block;
	height: 50px;
}

header .header-logo
{
	height: 48px;
	width: 200px;
	margin-left: 0px;
	float: left;
	clear: none;
	background-color: #ededed;

	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 0.6s; /* Safari */
    -webkit-transition-delay: 0.0s; /* Safari */
    transition-property: width;
    transition-duration: 0.6s;
    transition-delay: 0.0s;
}
header .header-logo:hover
{
	background-color: #e5e5e5;
}

header .header-logo.mobile
{
	height: 48px;
	width: 48px;
	margin-left: 0px;
	float: left;
	clear: none;


}



header .header-menu
{
	height: 48px;
	padding-top: 14px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	clear: none;
}
header .header-menu:hover
{
	background-color: #ededed;
}

header .header-account
{
	margin-right: 10px;
	height: 48px;
	width: 200px;
	float: right;
	clear: none;

}

header .header-account .header-account-section
{
	cursor: pointer;
	cursor: hand;
	float: right;
	clear: none;
}
header .header-account .header-account-section:hover
{
	background-color: #ededed;
}

header .header-account .header-account-section .header-account-section-icon
{
	height: 48px;
	padding: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
header .header-account .header-account-section .header-account-section-icon svg
{
    height: 20px;
    fill: #626262;
}

.closeHeaderAccSectionBtn
{
	padding-bottom: 3px;
	height: 24px;
	width: 24px;
	float: right;
	clear: none;
}

.pspInfoTopDeco
{
	margin-top: 10px;
	height: 4px;
    border-radius: 4px 4px 0px 0px;
}

.pspInfoTopInfo
{
	background-color: #ffffff;
	padding-left: 10px;
	/* padding-right: 10px; */
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 2px solid #DDDDDD;
}

.topWidgetsTopDeco
{
	margin-top: 10px;
	height: 4px;
	background-color: #DDDDDD;
    border-radius: 4px 4px 0px 0px;
}

.topWidgetsTopInfo
{
	background-color: #ffffff;
	padding-left: 10px;
/*	padding-right: 10px; */
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 2px solid #DDDDDD;
}
