/* ideal status */
.idealstatus-issuer-basic
{
	background-color:	#d6d6d6;
	border-radius: 5px;
	border: 2px solid #000000; 
	clear:	none; /* zorgt ervoor dat er geen enter (ruimte) tussen de elementen zitten */
	float:	left; /* zorgt ervoor dat de elementen wel tegen elkaar aan mogen komen */
	width: 	calc((100% - 60px) / 4); /* CALCuleert 100% van de breedte van de pagina - 40px en deelt dat door 3 (omdat er 3 blokken naast elkaar staan) */
	margin-left: 20px;
	
	
}

.idealstatus-issuer-basic:nth-of-type(4n+1) /* :nth-of-type(3n [n is variable] +1 [start bij eerste in de array]) */
{
	margin-left: 0px;
}

.idealstatus-issuer-basic:nth-of-type(1n+5) /* :nth-of-type(1n [n is variable] +4 [start bij de vierde in de array]) */
{
	margin-top: 30px;
}

.issuer-name
{
	font-weight:		bold;
	font-size:			120%;
	text-align:			center;
	text-decoration:	underline;
	
	
}
.idealstatus-issuer-basic > div:nth-of-type(1n+2) /* alle elementen onder de eerste onder idealstatus-issuer-basic (issuer-bic, issuer-status, issuer-message, issuer-lastreport)*/
{
	left:			5px;
	position: 		relative;
}
.idealstatus-issuer-basic.issuer-status-nok
{
	background-color:	#f74040;
}

.status-img
{
	height:	15px;
}

/*advanced*/

.idealstatus-issuer-advanced
{
	background-color:	#d6d6d6;
	clear:	none; /* zorgt ervoor dat er geen enter (ruimte) tussen de elementen zitten */
	float:	left; /* zorgt ervoor dat de elementen wel tegen elkaar aan mogen komen */
	width: 	100%; 
	min-width: 250px;
	margin-right: 20px;
	margin-top: 20px;
	
	
}

@media screen and (min-width: 820px){
.idealstatus-issuer-advanced
{
	width: 	calc((100% - 40px) / 2); 
	min-width: 0px;
}
}

.idealstatus-issuer-advanced > div:nth-of-type(1n+2) /* alle elementen onder de eerste onder idealstatus-issuer-basic (issuer-bic, issuer-status, issuer-message, issuer-lastreport)*/
{
	text-align: center;
}
.idealstatus-issuer-advanced.issuer-status-nok
{
	background-color:	#ff5000;
	border-color: 		#930505;
}

.no-legenda
{
	display: none;
}

.show-legenda
{
	display: inline; 
}

.legenda-text-button
{
	border: 6px solid #e0e0e0;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
	width: 100%;
	min-width: 250px;
	max-width: 440px;
}

.ideal-status-legenda-button
{
	width: 64px;
	margin-left: calc(50% - 32px);
	background-color: #e0e0e0;
}



/* svg idealstatus */

.idealstatus-bar-graph
{
		display: block;
		margin: auto;
		max-height: 220px;
		min-width: 250px;
}

.idealstatus-bar-graph .rect-tresh
{
	fill: #ED0677;
}

.bar-graph-bar
{
	fill: #707070; /* changes the background */
	transition: fill .3s ease;
	cursor: pointer;
	font-family: Helvetica, sans-serif;
}

.bar-graph-bar .rect100
{
	fill: #e0e0e0; /* changes the background */

}