.infoDialog{
	overflow-y: scroll;
    position: fixed;
    height: calc(100% - 82px);
    z-index: 1;
    width: 400px;
    max-width: 100%;
    top: 50px;
    right: 0px;
    background-color: #1A2226;
}

.infoDialog::-webkit-scrollbar {
    width: 0px;
}

.info-section-title
{
	color: #B2B2B2;
    margin: 10px;
    font-size: 14px;
}

#headerInfoAccordion
{
	margin-left: 2px;
	margin-right: 2px;
}

.infoDialog .ui-state-default
{
	font-weight: normal;
	color: #B2B2B2;
	border: none;
	border-top: 1px solid #686868;
	border-radius: 0px;
	background: #1A2226;
}

.infoDialog .ui-state-active
{
	background: #1A2226;
}

.infoDialog .ui-state-hover
{
	background: #1A2226;
}
.infoDialog .ui-state-focus
{
	border-top: 1px solid #686868 !important;
	outline-color: transparent;
	border: 0px solid RED;
	background: #1A2226;
}

.infoDialog .ui-icon-triangle-1-e
{
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.infoDialog .ui-icon-triangle-1-s
{
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.infoDialog .ui-accordion .ui-accordion-content
{
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    border-top: 0px;
}

.infoDialog .ui-accordion-header
{
	font-size: 12px;
	font-family: 'OpenSansRegular';
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 12px;
    padding-bottom: 12px
}

.infoDialog .ui-helper-reset
{
	font-size: 12px;
	font-family: 'OpenSansRegular';
}
.infoDialog .ui-widget-content
{
	color: #B2B2B2;
	background: none;
}
