html
{
	overflow-y: scroll;
}

.content .error
{
	color: FF0000;
}

.login-form label
{
	line-height: 250%;
	color: #666666;
	font-size: 12px;
}

.login-form input
{
	padding-left: 10px;
}


.cleared
{
	clear: both;
	display: block;
	float: none;
}

.icon
{
	width:22px;
	height:22px;
}