.messageDialog{
	overflow-y: scroll;
	position: fixed;
    height: calc(100% - 82px);
	z-index: 1;
	width: 400px;
	max-width: 100%;
	top:	50px;
	right:	0px;
	background-color: #333333;
	padding: 10px;
}

.messageDialog::-webkit-scrollbar {
    width: 0px;
}

.news-wrapper
{
	border-radius: 4px;
	background-color: #ffffff;
	padding-left: 10px;
	margin: 2px;
}

.news-title
{
	padding-top: 4px;
	padding-bottom: 4px;
}

.news-timestamp
{
	padding-bottom: 4px;
}

.infoDialog .ui-state-default
{
	color: #686868;
}