/* svg transactions */
.transaction-summary
{
	display: block;
	margin: auto;
	max-width: 	400px;
	
}

.download-transactions
{
	padding-top: 2px;
	float: left;
	clear: none;
}
.transaction-performance-svg-div
{
	float: right;
	width: 130px;
	height: 130px;
}

.transaction-performance-svg
{
	
}

.perf-rect-back
{
	fill: 	#E0E0E0;
}

.perf-rect-month
{
	fill:	#E0E0E0;
	stroke:	black;
	stroke-width:	1;
	stroke-opacity: 0.2;
}

.perf-rect-week
{
	fill:	#707070;
	stroke:	black;
	stroke-width:	5;
	stroke-opacity: 0.2;
}

.perf-rect-day
{
	fill:	#707070;
	stroke:	black;
	stroke-width:	5;
	stroke-opacity: 0.2;
}

.perf-rect-text
{
	fill:;
}



/* transacties */
.transaction-summary
{
	width:	100%;
	padding: 6px;
}
.transaction-summary-text
{
	max-height: 130px;
	clear: 	none;
	float:	left;
}

.transactions-overview
{
	
}

.seperate-transaction
{
	background-color: #d6d6d6;
	width: 	100%;
	min-width: 180px;
	margin-top: 10px;
}

.seperate-transaction-date
{
	clear: both;
	float: none;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.seperate-transaction-amount
{
	clear: none; 
	float: left; 
	min-width: 250px;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.seperate-transaction-method
{
	clear: none; 
	float: left;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	width: calc(100% - 250px);
}

.seperate-transaction-name
{
	clear:	none; 
	float:	left; 
	min-width: 250px;
	
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.seperate-transaction-email
{
	clear:	none; 
	float:	left;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	width: calc(100% - 250px);
}

.seperate-transaction-no-email
{
	display: none;
	clear: 	left;
	float:	left;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	width: calc(100% - 250px);
}

.seperate-transaction-order
{
	clear: both;
	float: none;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

.seperate-transaction-transaction
{
	clear:	both;
	float: none;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 6px;
}

